/* Reset standar agar tampilan konsisten */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif; /* Gunakan font standar */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}